head
  title DC Scanner
  link(type='text/css', href='/css/smartnet.css', rel='stylesheet')
  link(href='/css/bootstrap.spacelab.min.css', rel='stylesheet', media='screen')
  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(type='text/javascript', src='/js/bootstrap.min.js')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv="X-UA-Compatible" content="IE=9")
  // Bootstrap




