head
  style(type='text/css')
    @font-face {
      font-family: 'Glyphicons Halflings';
    } 
  link(href='/css/bootstrap.scanner.min.css', rel='stylesheet', media='screen')
  link(type='text/css', href='/css/smartnet.css', rel='stylesheet')
  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(type='text/javascript', src='/js/bootstrap.min.js')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  // Bootstrap




