doctype 5
html
  head
    title Example
  body
    if (!user)
      p
        a(href='/') Home
        a(href='/login') Log In


    else
      p
        a(href='/') Home
        a(href='/account') Acount
        a(href='/logout') Logout
