html
  head
    link(type='text/css', href='/css/smartnet.css', rel='stylesheet')
    link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(type='text/css', href='/css/datetimepicker.css', rel='stylesheet')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='/js/jquery.jplayer.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootstrap-datetimepicker.min.js')
    script(type='text/javascript', src='/js/smartnet.js')
    script(type='text/javascript', src="/socket.io/socket.io.js")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Bootstrap


    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //[if lt IE 9]>
      script(src="../../assets/js/html5shiv.js")
      script(src="../../assets/js/respond.min.js")

    script(type='text/javascript')
      var socket = io.connect('http://robotastic.com');	

      socket.on('calls', function (data) {

      if (typeof data.calls !== "undefined")	{
        for (var i = 0; i < data.calls.length; i++) {
          print_call_row(data.calls[i]);
        }			
      }	
      if (typeof data.talkgroup !== "undefined") {
        print_call_row(data);													
      } 

      });

      $(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
      ready: function () {
      $(this).jPlayer("setMedia", {
      mp3: "http://robotastic.com/media/40000-1378688764.mp3"
      });
      },
      swfPath: "/js",
      supplied: "mp3"
      });
      });
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Project name
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
          span(id='jp_container_1' class="pull-right")
            span.btn-group
              button( type="button", class="btn btn-default navbar-btn")
                span(class="glyphicon glyphicon-play jp-play")
              button( type="button", class="btn btn-default navbar-btn")
                span(class="glyphicon glyphicon-stop jp-stop")
            p(class="navbar-text")
              span.jp-time-holder
                span.jp-current-time 
                / 
                span.jp-duration
    nav(class="navbar navbar-default" role="navigation")
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        span.navbar-brand
          span(class="glyphicon glyphicon-filter")
          | Filter
      .collapse.navbar-collapse.navbar-ex1-collapse
        
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Groups
                b.caret
              ul.dropdown-menu(id="group-filter")
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Tags
                b.caret
              ul.dropdown-menu(id="tag-filter")
          li
            .form-group
              span(class="glyphicon glyphicon-clock")
              p.navbar-text Archive
          li
            button(type="button" class="btn btn-default navbar-btn")
              span(class="glyphicon glyphicon-headphones")
              | Live

    ul(class="pagination" id="pages")
    .container

      .input-append.date.form_datetime
        input(size='16', type='text', value='', readonly='readonly')
        span.add-on
          i.icon-th
      script(type='text/javascript')
        $(function () {
          $('.form_datetime').datetimepicker();
        });  
      .page-header
        h1
          span(id="filter-title")
          small
            | -
            span(id="filter-date")
      
      table.table
        thead
          tr
            th #
            th Alpha
            th Talkgroup
            th Group
            th Time
            th Length
        tbody#call_table
    #jquery_jplayer_1.jp-jplayer


