html
  head
    link(type='text/css', href='/skins/blue.monday/jplayer.blue.monday.css', rel='stylesheet')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js')
    script(type='text/javascript', src='/js/jquery.jplayer.min.js')
    script(type='text/javascript', src='/js/smartnet.js')
    script(type='text/javascript', src="/socket.io/socket.io.js")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Bootstrap
    link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')

    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //[if lt IE 9]>
      script(src="../../assets/js/html5shiv.js")
      script(src="../../assets/js/respond.min.js")

    script(type='text/javascript')
      var socket = io.connect('http://robotastic.com');	

      socket.on('calls', function (data) {

      if (typeof data.calls !== "undefined")	{
        for (var i = 0; i < data.calls.length; i++) {
          print_call_row(data.calls[i].filename, data.calls[i].talkgroup);
        }			
      }	
      if (typeof data.talkgroup !== "undefined") {
        print_call_row(data.filename, data.talkgroup);													
      } 

      });

      $(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
      ready: function () {
      $(this).jPlayer("setMedia", {
      mp3: "http://robotastic.com/media/40000-1378688764.mp3"
      });
      },
      swfPath: "/js",
      supplied: "mp3"
      });
      });
  body
    .navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Project name
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact

    .container
      .starter-template
        h1 Bootstrap starter template
        p.lead
          | Use this document as a way to quickly start any new project.
          br
          | All you get is this text and a mostly barebones HTML document.





    #jquery_jplayer_1.jp-jplayer
    #jp_container_1.jp-audio
      .jp-type-single
        .jp-gui.jp-interface
          ul.jp-controls
            li
              a.jp-play(href='javascript:;', tabindex='1') play
            li
              a.jp-pause(href='javascript:;', tabindex='1') pause
            li
              a.jp-stop(href='javascript:;', tabindex='1') stop
            li
              a.jp-mute(href='javascript:;', tabindex='1', title='mute') mute
            li
              a.jp-unmute(href='javascript:;', tabindex='1', title='unmute') unmute
            li
              a.jp-volume-max(href='javascript:;', tabindex='1', title='max volume') max volume
          .jp-progress
            .jp-seek-bar
              .jp-play-bar
          .jp-volume-bar
            .jp-volume-bar-value
          .jp-time-holder
            .jp-current-time
            .jp-duration
            ul.jp-toggles
              li
                a.jp-repeat(href='javascript:;', tabindex='1', title='repeat') repeat
              li
                a.jp-repeat-off(href='javascript:;', tabindex='1', title='repeat off') repeat off
        .jp-title
          ul
            li Bubble
        .jp-no-solution
          span Update Required
          | To play the media you will need to either update your browser to a recent version or update your
          a(href='http://get.adobe.com/flashplayer/', target='_blank') Flash plugin
          | .
    
    ul#call_list
    script(type='text/javascript', src='/js/bootstrap.min.js')
