doctype 5
html
  head
    link(type='text/css', href='/css/smartnet.css', rel='stylesheet')
    link(href='css/bootstrap.spacelab.min.css', rel='stylesheet', media='screen')
    link(type='text/css', href='/css/datetimepicker.css', rel='stylesheet')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='/js/jquery.jplayer.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootstrap-datetimepicker.min.js')

    script(type='text/javascript', src='/js/smartnet.js')
    script(type='text/javascript', src="/socket.io/socket.io.js")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv="X-UA-Compatible" content="IE=9")
    // Bootstrap


    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //[if lt IE 9]
      script(src="/js/assets/html5shiv.js")
      script(src="/js/assets/respond.min.js")




  body
    script.
      var filter_code = "#{filter_code}";
      var filter_date = "#{filter_date}"; 
    .navbar.navbar-inverse.navbar-static-top(id="nav-main" role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') DC Scanner
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/about') About
    div(id="nav-filter")
      div(class="navbar navbar-static navbar-default" )
        .navbar-inner
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-filter-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              span.navbar-brand
                span(class="glyphicon glyphicon-filter")
                | Filter
            .collapse.navbar-collapse.navbar-filter-collapse
              
              ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                      | Groups
                      b.caret
                    ul.dropdown-menu(id="group-filter")
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                      | Tags
                      b.caret
                    ul.dropdown-menu(id="tag-filter")

              ul.nav.navbar-nav.navbar-left
                li.btn-group.btn-group-sm(data-toggle="buttons-radio")
                  button(type="button" id="filter-data" class="form_datetime btn btn-primary navbar-btn")
                    span(class="glyphicon glyphicon-calendar")
                    | Archive
                  button(type="button" id="live-btn" class="btn btn-primary navbar-btn")
                    span(class="glyphicon glyphicon-headphones")
                    | Live
              span(id='jp_container_1' class="pull-right")
                span.btn-group.btn-group-sm
                  button( type="button", class="btn btn-primary navbar-btn")
                    span(class="glyphicon glyphicon-play jp-play")
                  button( type="button", class="btn btn-primary navbar-btn")
                    span(class="glyphicon glyphicon-stop jp-stop")
                  button( type="button", class="btn btn-primary navbar-btn" id="autoplay-btn")
                    span(class="glyphicon glyphicon-retweet" )
                p(class="navbar-text")
                  span.jp-time-holder
                    span.jp-current-time 
                    / 
                    span.jp-duration
      
    .container
      .page-header
        h1
          span(id="filter-title")
          small
            | -
            span(id="filter-date")
      .table-responsive  
        table.table
          thead
            tr
              th 
              th Alpha
              th Talkgroup
              th Group
              th Time
              th Length
              th
          tbody#call_table
      ul(class="pagination" id="pages")
    #jquery_jplayer_1.jp-jplayer


