doctype 5
html
  head
  include includes/head
    script(type='text/javascript', src="http://d3js.org/d3.v3.min.js")

  body
    .navbar.navbar-inverse.navbar-static-top(id="nav-main" role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') DC Scanner
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/about') About
    
    .container
      #redirect-form
      ul.list-group(id="graphs")
      
      script.
        var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        

        var w = 500;
        var h = 125;
        var barPadding = 3;
        var padding = 30;


        function clickEvent(d, i) {
            var graph = $(this).closest("div");
            var channel = graph.data("channel");
            var start = graph.data("start");
            var filter_code = 'tg-' + channel.num;


            start.setHours(start.getHours() - i);

            var date_string = start.toDateString() + " " + start.toLocaleTimeString();    
  
            $('#redirect-form').html('<form action="http://robotastic.com/" name="redirect" method="post" style="display:none;"><input type="text" name="filter_code" value="' + filter_code + '" /><input type="text" name="filter_date" value="' + date_string + '" /></form>');

            document.forms['redirect'].submit();
        };

        function add_graph(id, channel, t) {
          $(id).data('channel', channel).data('start', t);

          var current = new Date(t.getFullYear(), t.getMonth(), t.getDate(), t.getUTCHours());
          var start = new Date(current);
          start.setDate(start.getDate() - 1);
          var x = d3.time.scale().domain([start, current]).range([padding, w - padding * 2]);
          var svg = d3.select(id).append("svg").attr("width", w).attr("height", h);

                  //Create scale functions
          var xScale = d3.scale.linear()
                     .domain([0, 1])
                     .range([0, 20]);
          var yScale = d3.scale.linear()
                     .domain([0, d3.max(channel.historic)])
                     .range([padding, h - padding]);
          //Define X axis
          var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom")
                    .ticks(6);
          //Define Y axis
          var yAxis = d3.svg.axis()
                    .scale(yScale)
                    .orient("left")
                  .ticks(5);
          svg.selectAll("rect")
             .data(channel.historic)
             .enter()
             .append("rect")
             .on("click", clickEvent)
             .attr("x", function(d, i) { return i * ((w - 2*padding) / channel.historic.length) + padding; })
             .attr("y", function(d) { return h - yScale(d) })
             .attr("width", w / channel.historic.length - barPadding)
             .attr("height", function(d) { return yScale(d) - padding; })
             .attr("fill", "teal");
          svg.append("g")
              .attr("class", "axis")
              .attr("transform", "translate(0," + (h - padding) + ")")
              .call(xAxis);
          svg.append("g")
              .attr("class", "axis")
              .attr("transform", "translate(" + padding + ",0)")
              .call(yAxis);
        }
        $.getJSON( "/volume", function( data ) {
          var i =0;
          $.each( data, function( key, val ) {
            i++;
            var li = $("<li/>", {class: "list-group-item" });
            var div = $("<div/>", {id: "graph-"+i, class: "graph"});
            li.append("<h4/>").text(val.name);
            li.append(div);
            $("#graphs").append(li);
            add_graph("#graph-"+i, val, new Date());
          });
        });
        
    #jquery_jplayer_1.jp-jplayer


