doctype 5
html
  head
    link(type='text/css', href='/css/smartnet.css', rel='stylesheet')
    link(href='css/bootstrap.spacelab.min.css', rel='stylesheet', media='screen')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src="http://d3js.org/d3.v3.min.js")
    script(type='text/javascript', src='/js/jquery.jplayer.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    //script(type='text/javascript', src='/js/stats.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv="X-UA-Compatible" content="IE=9")
    // Bootstrap


    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //[if lt IE 9]
      script(src="/js/assets/html5shiv.js")
      script(src="/js/assets/respond.min.js")




  body
    .navbar.navbar-inverse.navbar-static-top(id="nav-main" role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') DC Scanner
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/about') About
    
    .container
      #graphs
      script.
        var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        

        var w = 500;
        var h = 125;
        var barPadding = 1;
        var padding = 30;




        function add_graph(id, channel) {
          var x = d3.time.scale().domain([new Date(2011, 0, 1), new Date(2011, 0, 1, 23, 59)]).range([padding, w - padding * 2]);
          var svg = d3.select(id).append("svg").attr("width", w).attr("height", h);

                  //Create scale functions
          var xScale = d3.scale.ordinal()
                     .domain([0, channel.historic.length])
                     .range([padding, w - padding]);

          var yScale = d3.scale.linear()
                     .domain([0, d3.max(channel.historic, function(d) { return d; })])
                     .range([h - padding, padding]);


          //Define X axis
          var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom")
                    .ticks(6);

          //Define Y axis
          var yAxis = d3.svg.axis()
                    .scale(yScale)
                    .orient("left")
                  .ticks(5);

          svg.selectAll("rect")
             .data(channel.historic)
             .enter()
             .append("rect")
             .attr("x", xScale)
             .attr("y", yScale)
             .attr("width", w / channel.historic.length - barPadding)
             .attr("height", yScale).attr("fill", "teal");
          svg.append("g")
              .attr("class", "axis")
              .attr("transform", "translate(0," + (h - padding) + ")")
              .call(xAxis);
            
            //Create Y axis
          svg.append("g")
              .attr("class", "axis")
              .attr("transform", "translate(" + padding + ",0)")
              .call(yAxis);
        }
        $.getJSON( "/volume", function( data ) {
          var i =0;
          $.each( data, function( key, val ) {
            i++;
            var div = $("<div>", {id: "graph-"+i, class: "graph"});
            div.append("<h2/>").text(val.name);
            $("#graphs").append(div);
            add_graph("#graph-"+i, val);
          });
        });
        
    #jquery_jplayer_1.jp-jplayer


