doctype 5
html
  head
    title Example
  body
    if (user)
      script.
        var user = { photo: #{ user.photos[0].value},
          id: #{user.username},
          username: #{user.displayName} 
          };
        window.opener.twitter_success(user);
        window.closer();