body {
  //padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.now-playing {
	color: green;
}
.live-call {
	font-weight: bold;
	color: red;
}
.call-link {
	padding-right: 10px;
	color: #666;
}
.call-play {
	cursor: pointer;
}
#nav-main {
	margin-bottom: 0px;
}
#nav-filter.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#filter-title {
	margin-right: 10px;
}

#filter-date {
	margin-left: 10px;
}

.jp-time-holder {
	padding-right: 10px;
}

.graph {
	clear: both;
}

rect:hover {
 opacity : 0.5;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#about {
  max-width: 760px;
}