body {
  //padding-top: 50px;
}



.carousel-inner .item img, .carousel-inner .item a img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}

.carousel .item {
  height: 500px;
}
.carousel-caption {
  position: absolute;
  right: 20px;
  left: initial;
  bottom: inital;
  top: 10px;
 
  color: #999;
}
.carousel-caption a{
  color: #999;
}
#about-carousel-callout {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding-bottom: 20px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10px;
  background-color: #eee;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  z-index: 10;
  opacity: .80;
}
#about-carousel-callout h1 {
font-size: 63px;
}

#about-carousel-callout p {
line-height: 1.4;
}
#jumbotron-about {
  position: relative;
  width: 100%;
  margin-top: -50px;
  z-index: 10;
  opacity: .80;
}
.carousel-indicators li {
  border-color: #666
}
.carousel-indicators {
  position: absolute;
top: 10px;
right: 20px;
left: initial;
width: initial;
}
.carousel-indicators .active {
  background-color: #666;
  }

.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.now-playing {
	color: green;
}
.live-call {
	font-weight: bold;
	color: red;
}
.live-call a{
  color: red;
}
.call-link {
	padding-right: 10px;
	color: #666;
}
.call-play {
	cursor: pointer;
}
.older-btn {
  cursor: pointer;
}
.newer-btn {
  cursor: pointer;
}
#nav-main {
	margin-bottom: 0px;
}
#nav-filter.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#filter-title {
	margin-right: 10px;
}

#filter-date {
	margin-left: 10px;
}

.jp-time-holder {
	padding-right: 10px;
}

#call-player {
  margin-top: 20px;
}



.graph {
	clear: both;
}

rect:hover {
 opacity : 0.5;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#about {
  max-width: 760px;
  padding-bottom: 100px;
}
#graphs {
  max-width: 760px;
}